---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [11]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    # Have to specify entries are separated by new line. Setting header = None stops the first row entry from becoming the column name.
    uni_towns = pd.read_csv('university_towns.txt',sep='\n', header=None, names=['RegionName'])
        
    # Enter state name in column 'State' in the same row as 'RegionName'. Set everything else to NaN.
    uni_towns['State'] = np.where(uni_towns['RegionName'].str.contains('edit'),uni_towns['RegionName'],np.NaN)
        
    uni_towns['State'].fillna(method='ffill',inplace=True) # Forward fill state names to replace NaN values.
    
    uni_towns = uni_towns[['State','RegionName']] # Rearrange columns to required order
    
    # Use '(' and '[' split for both columns even though it doesn't ask you to! That's the main bug.
    # expand = True splits the string into different columns.
    for col in uni_towns:
        uni_towns[col] = uni_towns[col].str.split('(',expand=True)[0].str.split('[', expand=True)[0].str.rstrip()
        
    # Remove rows where State and RegionName have the same entry:
    uni_towns = uni_towns[uni_towns['State'] != uni_towns['RegionName']]    
    
    return uni_towns
    
    
get_list_of_university_towns()

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
# Make it easy to call for multiple questions:

def read_gdp():
    
    GDP = pd.read_excel('gdplev.xls', skiprows=4) # Drop irrelevant rows.
    
    GDP = GDP.drop(GDP.columns[[0,1,2,3,5,7]],axis=1) # Remove unnecessary data.
    
    # Setting the first row to header:
    new_header = GDP.iloc[0]
    GDP = GDP[3:]
    GDP.columns = new_header
    
    # More cleaning:
    GDP = GDP.reset_index(drop=True)
    GDP.columns = ['Quarter','GDP']
    
    # Remove data before 2000 Q1:
    GDP = GDP.drop(GDP.index[0:212])
    #return GDP.index[GDP['Quarter'] == '2000q1'] # Returns index = 212 for 2000q1.
    
    GDP = GDP.reset_index(drop=True)
    
    GDP['GDP Diff'] = GDP['GDP'].diff() # Finds the difference between successive row entries in the column 'GDP'.
    
    return GDP

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    GDP = read_gdp()
    
    # Finds all the quarters where there is a decline:
    GDP_dec = GDP.where(GDP['GDP Diff']<0)
    GDP_dec = GDP_dec.dropna()
    
    # Find the first quarter with a successive decline:
    GDP_dec['Index'] = GDP_dec.index # Get index values into a column to use diff().
    GDP_dec['Index Diff'] = GDP_dec['Index'].diff() # Find the difference for index values.
    min_index = GDP_dec['Index Diff'].idxmin() # Find the FIRST quarter where index difference is 1. idxmin() gives the first occurence of the minimum value.
    
    return GDP['Quarter'].iloc[min_index-1] # You want the first quarter of the 2 successive quarters with a decline.

get_recession_start()

'2008q3'

In [6]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    GDP = read_gdp()
    
    # Finds all the quarters where there is a rise:
    GDP_rise = GDP.where(GDP['GDP Diff']>0)
    GDP_rise = GDP_rise.dropna()
    
    # Find the first quarter after the recession starts where there is a successive rise:
    GDP_rise['Index'] = GDP_rise.index
    GDP_rise['Index Diff'] = GDP_rise['Index'].diff()
    max_index = GDP_rise['Index Diff'].idxmax()
    
    # Any quarter with an index difference of more than 3 has had at least 2 successive declining quarters before it!
    
    # Recession ends at the second quarter of growth. Therefore we use (max_index+1).
    return GDP['Quarter'].iloc[max_index+1]
       
get_recession_end()

'2009q4'

In [7]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    GDP = read_gdp()
    
    # Get indices of recession start and end quarters:
    start_index = GDP.loc[GDP['Quarter'] == get_recession_start()].index.astype(int)[0]
    end_index = GDP.loc[GDP['Quarter'] == get_recession_end()].index.astype(int)[0]
    
    # Limit GDP to recession range. Use (end_index + 1) because the end index isn't included in the range.
    GDP = GDP.iloc[start_index:end_index+1]
    
    # Return the quarter of the entry where GDP = minimum GDP:
    return GDP['Quarter'][GDP.loc[GDP['GDP'] == GDP['GDP'].min()].index.astype(float)[0]]

get_recession_bottom()

'2009q2'

In [8]:
# Change year and month column header to year and quarter:

def change_to_quarter(date: str):
    date = date.split('-')
    month = int(date[1])
    quarter = int((month - 1) / 3) + 1
    return date[0] + 'q' + str(quarter)

In [9]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    all_homes = pd.read_csv('City_Zhvi_AllHomes.csv')
    
    # Drop columns with unnecessary data:
    start_rem = all_homes.columns.get_loc('1996-04')
    end_rem = all_homes.columns.get_loc('2000-01')
    all_homes = all_homes.drop(all_homes.columns[start_rem:end_rem],axis=1) 
    
    # Double square brackets if you're giving specific colums to remove, single square brackets if it's a column range.
    
    # Removing more unnecessary columns:
    all_homes = all_homes.drop(all_homes.columns[[0,3,4,5]],axis=1)
    
    # Map state short forms with given dictionary:
    all_homes['State'] = all_homes['State'].map(states)
    
    # Switch State and RegionName columns for multiindex:
    columnsName = list(all_homes.columns)
    S, R = columnsName.index('State'), columnsName.index('RegionName')
    columnsName[S], columnsName[R] = columnsName[R],columnsName[S]
    all_homes = all_homes[columnsName]
    
    # Sorts and groups by index:
    all_homes = all_homes.set_index(['State','RegionName']).sort_index()
    
    # Group by user defined function (above) which changes given dates to year + quarter. Axis = 1 specifies you're passing column names to the function.
    all_homes = all_homes.groupby(change_to_quarter, axis=1).mean() # Find mean over the months in a quarter.
    
    return all_homes

convert_housing_data_to_quarters()

#Test:
#convert_housing_data_to_quarters().loc[[('Ohio','Akron'),('Ohio','Dayton')]].loc[:,['2010q3','2015q2','2016q4']]

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
          Buhl              90800.000000   94600.000000   96500.000000
          Calera           108933.333333  110366.666667  108000.000000
          Center Point      80966.666667   81233.333333   81500.000000
          Centreville       95300.000000   96566.666667   98000.000000
          Chalkville        94100.000000   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          162066.666667  167033.333333  166900.000000
          Chickasaw         51200.000000   53666.666667   54933.333333
          Chunchula         80266.666667   81766.666667   82200.000000
          Citronelle        64833.333333   66633.333333   68066.666667
          Clay             120900.000000  122266.666667  123966.666667
          Coden             62600.000000   64800.000000   66866.666667
          Coker            118100.000000  120766.666667  118166.666667
          Concord           78600.000000   78700.000000   80133.333333
          Cottondale       100833.333333  102633.333333  104766.666667
...                                  ...            ...            ...
Wisconsin Vernon           183200.000000  178200.000000  174300.000000
          Vienna           178033.333333  181533.333333  182433.333333
          Vinland          119800.000000  126766.666667  134933.333333
          Wales                      NaN            NaN            NaN
          Waterford        121200.000000  119433.333333  120200.000000
          Waukesha         141266.666667  138433.333333  136733.333333
          Waunakee         187400.000000  191433.333333  192666.666667
          Waupun            84000.000000   84000.000000   84400.000000
          Wausau            69566.666667   69466.666667   71033.333333
          Wayne                      NaN            NaN            NaN
          West Allis        80933.333333   81933.333333   84066.666667
          Weston            80166.666667   82700.000000   84166.666667
          Wheatland        129800.000000  132133.333333  134933.333333
          Whitelaw          96033.333333  101433.333333  108033.333333
          Williams Bay     122900.000000  115300.000000  110766.666667
          Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
          Buhl              96566.666667   99266.666667  101966.666667
          Calera           107933.333333  109333.333333  112200.000000
          Center Point      82233.333333   83366.666667   84333.333333
          Centreville       99366.666667   98100.000000   99266.666667
          Chalkville        94433.333333   96066.666667   97433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167400.000000  170633.333333  174300.000000
          Chickasaw         56066.666667   55133.333333   53566.666667
          Chunchula         83400.000000   85400.000000   86100.000000
          Citronelle        67766.666667   67866.666667   70000.000000
          Clay             126500.000000  128033.333333  128300.000000
          Coden             68566.666667   68933.333333   71300.000000
          Coker            115333.333333  114066.666667  115700.000000
          Concord           82800.000000   85133.333333   85800.000000
          Cottondale       105300.000000  106733.333333  109233.333333
...                                  ...            ...            ...
Wisconsin Vernon           177466.666667  186233.333333  190500.000000
          Vienna           186300.000000  190600.000000  191566.666667
          Vinland          137833.333333  144300.000000  148200.000000
          Wales                      NaN            NaN            NaN
          Waterford        121966.666667  127000.000000  133000.000000
          Waukesha         139833.333333  147600.000000  151066.666667
          Waunakee         193733.333333  197333.333333  198500.000000
          Waupun            84533.333333   85100.000000   86600.000000
          Wausau            69833.333333   69866.666667   71366.666667
          Wayne                      NaN            NaN            NaN
          West Allis        80666.666667   79100.000000   80333.333333
          Weston            85800.000000   87266.666667   88500.000000
          Wheatland        137833.333333  142566.666667  143000.000000
          Whitelaw         114000.000000  116333.333333  114966.666667
          Williams Bay     110700.000000  112600.000000  117100.000000
          Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
          Buhl             102000.000000  102733.333333  102533.333333
          Calera           114333.333333  112133.333333  111500.000000
          Center Point      84466.666667   85333.333333   86100.000000
          Centreville      100400.000000  104633.333333  105233.333333
          Chalkville        98400.000000   99366.666667   99866.666667
          Chancellor                 NaN            NaN            NaN
          Chelsea          174900.000000  173300.000000  170566.666667
          Chickasaw         53533.333333   53400.000000   54266.666667
          Chunchula         86733.333333   86566.666667   86166.666667
          Citronelle        71466.666667   70933.333333   69833.333333
          Clay             129233.333333  130466.666667  130900.000000
          Coden             72733.333333   73600.000000   72933.333333
          Coker            118833.333333  122566.666667  122366.666667
          Concord           84866.666667   84766.666667   86366.666667
          Cottondale       109200.000000  109900.000000  109333.333333
...                                  ...            ...            ...
Wisconsin Vernon           193100.000000  197466.666667  201800.000000
          Vienna           193733.333333  194833.333333  198466.666667
          Vinland          147733.333333  151200.000000  149233.333333
          Wales                      NaN            NaN            NaN
          Waterford        139233.333333  143100.000000  145733.333333
          Waukesha         153100.000000  155033.333333  158200.000000
          Waunakee         201266.666667  202100.000000  206100.000000
          Waupun            87666.666667   87100.000000   87533.333333
          Wausau            73100.000000   74033.333333   76400.000000
          Wayne                      NaN            NaN            NaN
          West Allis        81433.333333   82400.000000   84966.666667
          Weston            90066.666667   91766.666667   94833.333333
          Wheatland        143966.666667  142633.333333  143933.333333
          Whitelaw         115666.666667  115866.666667  117766.666667
          Williams Bay     119533.333333  121400.000000  126566.666667
          Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
          Buhl             100100.000000    ...     119233.333333
          Calera           111233.333333    ...     125533.333333
          Center Point      86500.000000    ...      78833.333333
          Centreville      105066.666667    ...      95566.666667
          Chalkville       100733.333333    ...     105233.333333
          Chancellor                 NaN    ...     116400.000000
          Chelsea          171100.000000    ...     197133.333333
          Chickasaw         55000.000000    ...      59000.000000
          Chunchula         86533.333333    ...     120666.666667
          Citronelle        68133.333333    ...      88600.000000
          Clay             131100.000000    ...     134100.000000
          Coden             69100.000000    ...      77566.666667
          Coker            119200.000000    ...     141700.000000
          Concord           90366.666667    ...     104733.333333
          Cottondale       107966.666667    ...     128500.000000
...                                  ...    ...               ...
Wisconsin Vernon           201966.666667    ...     257733.333333
          Vienna           202466.666667    ...     265700.000000
          Vinland          146433.333333    ...     181766.666667
          Wales                      NaN    ...     262133.333333
          Waterford        151266.666667    ...     213133.333333
          Waukesha         157833.333333    ...     181166.666667
          Waunakee         208533.333333    ...     278100.000000
          Waupun            87466.666667    ...     113166.666667
          Wausau            78700.000000    ...      91600.000000
          Wayne                      NaN    ...     238633.333333
          West Allis        87566.666667    ...      90433.333333
          Weston            97600.000000    ...     133233.333333
          Wheatland        146433.333333    ...     169266.666667
          Whitelaw         116800.000000    ...     120433.333333
          Williams Bay     131700.000000    ...     223000.000000
          Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333

In [10]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    df = convert_housing_data_to_quarters()
    
    # Start position is the quarter BEFORE the recession starts!
    before_rec = (df.columns.get_loc(get_recession_start())-1)
    rec_bottom = df.columns.get_loc(get_recession_bottom())
    
    uni = get_list_of_university_towns().set_index(['State', 'RegionName'])
    
    # Turn the divided values into a DataFrame!
    df = np.divide(df.ix[:,before_rec],df.ix[:,rec_bottom]).to_frame().dropna()
    
    # Merge university and GDP data.
    uni_df = df.merge(uni, right_index=True, left_index=True, how='inner')
    
    # Drop the indices of uni towns to get data only for non uni towns.
    nonuni_df = df.drop(uni_df.index)
    
    # A t-test is commonly used to determine whether the mean of a population significantly
    # differs from a specific value (called the hypothesized mean) or from the mean of another population.
    p_value = ttest_ind(uni_df.values, nonuni_df.values).pvalue
    
    if p_value < 0.01:
        different=True
    else:
        different=False
        
    # Better depending on which one is LOWER! Remember prices go up during a recession so lower is better.
    if uni_df.mean().values < nonuni_df.mean().values:
        better='university town'
    else:
        better='non-university town'

    return (different, p_value[0], better)
    
run_ttest()

(True, 0.002724063704761164, 'university town')